<br>
<div class="mb-3">
  <a href="http://127.0.0.1:5500/example/oc/html_template/home.html" class="btn  btn-sm">
    <i class="fas fa-arrow-left"></i> Home
  </a>
</div>
<div class="row">

  <div class="col-12 mb-4">
    <div class="card shadow-sm p-3 h-100">
      <div class="card-header text-center">
        <h3 class="my-0"><span id="search-total-count"></span> Results for: <span class="fw-bold">[[Lucinda:remove_percent(main.search_query)]]</span></h3>
        <p class="mb-0">Responsable Agent Records</p>
      </div>
    </div>
  </div>

</div>

<div class="row" id="search-results-container"></div>