<br>
<div class="mb-3">
  <a href="http://127.0.0.1:5500/example/oc/html_template/home.html" class="btn  btn-sm">
    <i class="fas fa-arrow-left"></i> Home
  </a>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <div class="card shadow-sm p-3">
      <div class="card-header text-center">
        <h3>[[Lucinda:pipe_count(references_list.ids)]] References for: <span class="fw-bold"fw-bold>br/[[Lucinda:remove_percent(main.id)]]</span></h3>
        <p>Documents cited by this resource</p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center" id="async-results-container">

</div>
