<html>
  <head>
    <style></style>
  </head>
  <body>

    <br>
    <div class="mb-3">
      <a href="http://127.0.0.1:5500/example/oc/html_template/home.html" class="btn btn-sm">
        <i class="fas fa-arrow-left"></i> Home
      </a>
    </div>

    <div class="row">
      
      <div class="col-12 mb-4">
          <div class="card shadow-sm p-3 h-100">
          <div class="card-header text-center">
              <h3 class="my-0">[[Lucinda:display_omid(meta.id)]]</h3>
              <p class="mb-0">Bibliographic Resource Record</p>
          </div>
          </div>
      </div>

      <div id="br_main" class="col-12 col-md-8 d-flex flex-column">

        <div class="card shadow-sm m-2 w-100 h-100">
          
          
          <div class="card-body p-4 text-start">

            <div class="card-header text-center">
              <h4 class="my-0 fw-bold">Document Profile</h4>
            </div>

            <br>

            
            
            <h5 class="card-title text-center">
              [[Lucinda:create_br_header_link(meta.id, meta.title)]]
            </h5>
            <hr>

            [[Lucinda:ifcond(
              meta.pub_date !== null,
              concat(
                  _HTML_(<div class="mb-3"><span class="fw-bold">Publication Date:<br> </span>),
                  getVal(meta.pub_date),
                  _HTML_(</div>)
              )
            )]]

            [[Lucinda:ifcond(
              meta.author !== null,
              concat(
                  _HTML_(<div class="mb-3"><span class="fw-bold">Authors:<br> </span>),
                  styleHTML(
                      itemlist(
                          meta.author; meta.author_orcid; meta.author_omid,
                          _DATA_("meta.author_omid"),
                          _DATA_(["meta.author","meta.author_orcid","meta.author_omid"]),
                          _DATA_(false),
                          _DATA_(["meta.title","string",true])
                      ),
                      _DATA_("author_entry")
                  ),
                  _HTML_(</div>)
              )
            )]]

            <div class="mb-3">
              <span class="fw-bold">Identifiers:<br> </span>
              <span class="d-inline-block align-top">
                  [[Lucinda:doforeach(
                      meta.id; meta.id_link,
                      _DATA_("id_entry"),
                      _DATA_("<br>")
                  )]]
              </span>
            </div>

            [[Lucinda:ifcond(
              meta.venue !== null,
              concat(
                  _HTML_(<div class="mb-3"><span class="fw-bold">Source:<br> </span>),
                  venue_entry(meta.venue),
                  _HTML_(</div>)
              )
            )]]

          </div>
        </div>

      </div>

      <div id="br_citations" class="col-12 col-md-4 ps-md-3 d-flex flex-column">

        <div class="card shadow-sm p-1 m-2 h-100"> 
          <div class="card-body">

              <div class="row g-3 column-gap-3">
                <div class="col reference-count">
                  <div class="card shadow-sm p-1 m-1 h-100">
                      <div class="card-header text-center py-1">
                           <span class="fw-bold small">References</span>
                      </div>
                      <div class="card-body text-center">
                        <h3 class="text-primary my-1">[[Lucinda:llength(apirefs.id)]]</h3>
                      </div>
                  </div>
                </div>
                <div class="col citation-count">
                  <div class="card shadow-sm p-1 m-1 h-100">
                    <div class="card-header text-center py-1">
                         <span class="fw-bold small">Citations</span>
                    </div>
                    <div class="card-body text-center">
                      <h3 class="text-primary my-1">[[Lucinda:llength(apicits.id)]]</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3 column-gap-3 mt-1">
                <div class="col">
                  <div class="card shadow-sm p-1 m-1">
                    <div class="card-header text-center">
                         <h6 class="my-1"><span class="fw-bold small">Citations per year</span></h6>
                    </div>
                    <div class="card-body">
                      <div><canvas id="citsxyear_chart"></canvas></div>
                      [[Lucinda:barchart(
                        _DATA_("citsxyear_chart"),
                        mapData(
                          apicits.pub_date,
                          _DATA_("year")
                        )
                      )]]
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div id="citaions_and_references" class="col-12">
        <div class="row p-1">

            <div class="col-12 col-md-6 mt-4">
              <div class="card shadow-sm h-100">
                <div class="card-header text-center">
                    <h4 class="my-1 fw-bold">References</h4>
                    <span class="small text-muted"><em>([[Lucinda:llength(apirefs.id)]] documents)</em></span>
                </div>
                <div class="card-body p-4">
                    [[Lucinda:
                      styleHTML(
                        itemlist(
                            apirefs.id; apirefs.title; apirefs.author; apirefs.pub_date,
                            _DATA_("apirefs.id"),
                            _DATA_(["apirefs.title","apirefs.author","apirefs.pub_date","apirefs.id"]),
                            _DATA_(false),
                            _DATA_(["apirefs.title","string",true])
                        ),
                        _DATA_("doc_entry")
                      )
                    ]]
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 mt-4">
              <div class="card shadow-sm h-100">
                <div class="card-header text-center">
                    <h4 class="my-1 fw-bold">Citations</h4>
                    <span class="small text-muted"><em>([[Lucinda:llength(apicits.id)]] documents)</em></span>
                </div>
                <div class="card-body p-4">
                  [[Lucinda:
                    styleHTML(
                      itemlist(
                          apicits.id; apicits.title; apicits.author; apicits.pub_date,
                          _DATA_("apicits.id"),
                          _DATA_(["apicits.title","apicits.author","apicits.pub_date","apicits.id"]),
                          _DATA_(false),
                          _DATA_(["apicits.title","string",true])
                      ),
                      _DATA_("doc_entry")
                    )
                  ]]
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>

  </body>
</html>