<br>
<div class="mb-3">
  <a href="http://127.0.0.1:5500/example/oc/html_template/home.html" class="btn  btn-sm">
    <i class="fas fa-arrow-left"></i> Home
  </a>
</div>
<div class="row">

  <!-- TITLE CARD -->
  <div class="col-12 mb-4">
    <div class="card shadow-sm p-3 h-100">
      <div class="card-header text-center">
        <h3 class="my-0">[[Lucinda:getVal(index2.OciID)]]</h3>
        <p class="mb-0">Citation Record</p>
      </div>
    </div>
  </div>


  <!-- LEFT COLUMN: CITING + CITED -->
  <div class="col-12 col-md-8 mb-4">
    <div class="card shadow-sm p-3 h-100">

      <div class="row">

        <!-- CITING RESOURCE -->
        <div class="col-12 col-md-6 mb-4 mb-md-0">
          <div class="card shadow-sm p-3 h-100">
            <div class="card-header text-center">
              <h4 class="my-1 fw-bold">Citing Resource</h4>
            </div>

            <div class="card-body">

              <h5 class="card-title text-center">[[Lucinda:getVal(meta2.citingTitle)]]</h5>
              <hr>

              <span class="metadata-label fw-bold" >Authors:</span>
              <p>[[Lucinda:getVal(meta2.citingAuthorNames)]]</p>

              <span class="metadata-label fw-bold" >Publication Date:</span>
              <p>[[Lucinda:date_entry(meta2.citingPubDateRaw)]]</p>

              <span class="metadata-label fw-bold" >Identifiers:</span>
              <p>[[Lucinda:getVal(meta2.citingIdsList)]]</p>

              <span class="metadata-label fw-bold">Full URI:</span>
              <p>[[Lucinda:getVal(meta2.citingBRURI)]]</p>

            </div>

            <!-- CITING STATS -->
            <div class="row mt-3 px-3 pb-3">
              <div class="col-6">

                <div class="card shadow-sm p-1 m-1 h-90">
                  <div class="card-header text-center py-1">
                    <span class="fw-bold small">References</span>
                  </div>
                  <div class="card-body text-center">
                    <h3 class="text-primary my-1">[[Lucinda:pipe_count(index2.CitingReferences)]]</h3>
                  </div>
                </div>                
                
              </div>

              <div class="col-6">

                <div class="card shadow-sm p-1 m-1 h-90">
                  <div class="card-header text-center py-1">
                    <span class="fw-bold small">Citations</span>
                  </div>
                  <div class="card-body text-center">
                    <h3 class="text-primary my-1">[[Lucinda:pipe_count(index2.CitingCitations)]]</h3>
                  </div>
                </div>                

              </div>
            </div>

          </div>
        </div>


        <!-- CITED RESOURCE -->
        <div class="col-12 col-md-6">
          <div class="card shadow-sm p-3 h-100">
            <div class="card-header text-center">
              <h4 class="my-1 fw-bold">Cited Resource</h4>
            </div>

            <div class="card-body">

              <h5 class="card-title text-center">[[Lucinda:getVal(meta2.citedTitle)]]</h5>
              <hr>

              <span class="metadata-label fw-bold">Authors:</span>
              <p>[[Lucinda:getVal(meta2.citedAuthorNames)]]</p>

              <span class="metadata-label fw-bold">Publication Date:</span>
              <p>[[Lucinda:date_entry(meta2.citedPubDateRaw)]]</p>

              <span class="metadata-label fw-bold">Identifiers:</span>
              <p>[[Lucinda:getVal(meta2.citedIdsList)]]</p>

              <span class="metadata-label fw-bold" >Full URI:</span>
              <p>[[Lucinda:getVal(meta2.citedBRURI)]]</p>

            </div>

            <!-- CITED STATS -->
            <div class="row mt-3 px-3 pb-3">
              <div class="col-6">

                <div class="card shadow-sm p-1 m-1 h-90">
                  <div class="card-header text-center py-1">
                    <span class="fw-bold small">References</span>
                  </div>
                  <div class="card-body text-center">
                    <h3 class="text-primary my-1">[[Lucinda:pipe_count(index2.CitedReferences)]]</h3>
                  </div>
                </div>

              </div>

              <div class="col-6">

                <div class="card shadow-sm p-1 m-1 h-90">
                  <div class="card-header text-center py-1">
                    <span class="fw-bold small">Citations</span>
                  </div>
                  <div class="card-body text-center">
                    <h3 class="text-primary my-1">[[Lucinda:pipe_count(index2.CitedCitations)]]</h3>
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>

      </div> 
    </div>
  </div>



  <!-- RIGHT COLUMN: BOTH-SIDE METRICS -->
    <div class="col-12 col-md-4 mb-4">
  
  <div class="card shadow-sm p-1 h-100">
    <div class="card-body">

      <div class="row g-3 column-gap-3">
        
        <div class="col">
          <div class="card shadow-sm p-1 m-1 h-100">
            <div class="card-header text-center py-1">
              <span class="fw-bold small">Cited by Both</span>
            </div>
            <div class="card-body text-center">
              <h3 class="text-primary my-1">[[Lucinda:getVal(index2.CitedbyBoth)]]</h3>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm p-1 m-1 h-100">
            <div class="card-header text-center py-1">
              <span class="fw-bold small">Citing Both</span>
            </div>
            <div class="card-body text-center">
              <h3 class="text-primary my-1">[[Lucinda:getVal(index2.CitingBoth)]]</h3>
            </div>
          </div>
        </div>

      </div>

      <div class="row g-3 column-gap-3 mt-1">
        <div class="col">
          <div class="card shadow-sm p-1 m-1">
            <div class="card-header text-center">
              <h6 class="my-1 fw-bold small">Citations of Citing per year</h6>
            </div>
            <div class="card-body">
              <div><canvas id="citsxyear_chart"  style="display: block; margin: 0 auto;"></canvas></div>
              [[Lucinda:barchart_from_ids(
                _DATA_("citsxyear_chart"),
                index2.CitingCitations
              )]]
            </div>
          </div>
        </div>
      </div>

      <div class="row g-3 column-gap-3 mt-1">
        <div class="col">
          <div class="card shadow-sm p-1 m-1">
            <div class="card-header text-center">
              <h6 class="my-1 fw-bold small">Citations of Cited per year</h6>
            </div>
            <div class="card-body">
              <div><canvas id="citsxyear_chart_2" style="display: block; margin: 0 auto;"></canvas></div>
              [[Lucinda:barchart_from_ids(
                _DATA_("citsxyear_chart_2"),
                index2.CitedCitations
              )]]
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


